<h1>Rotations</h1>


<div class="square">
  <p> Box </p>
</div>

<div class="square2">
  <p> Box </p>
</div>

<div class="square3">
  <p> Box </p>
</div>

<div class="circle1">

</div>

<div class="rectangle1">
  <div class="left"> 80% </div>
  <div class="right"> 20% </div>
</div>


<%= render partial: "svgs/test_svg.html.erb" %>